version: '3.4'
services:
  app:
    build: .
    ports:
    - '8080:8080'
    volumes:
      - './:/app'
  db:
    image: 'mongo'
    container_name: 'recipe_db'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
    - '27017:27017'